

<section class="section1 ">
  <div class="container my-5 text-dark">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="px-4 py-5 my-5 text-left">
        <div class="col-lg-12 text-white">

          <form class="form-login" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <h3 class="text-center text-white font-weight-bold">Admin Login</h3>
            <br>
            <br>
            <label for="inputUserName" class="sr-only">UserName</label>
            <input type="text" id="inputUserName" name="inputUserName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && inputUserName.errors }" ngModel placeholder="UserName" required
              autofocus #inputUserName=ngModel>
            <div *ngIf="submitted && inputUserName.errors" class="invalid-feedback">
              <span *ngIf="inputUserName.errors.required">Please enter a UserName</span>
            </div>
            <br>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && password.errors }" ngModel placeholder="Password" required
              #password=ngModel>
            <div *ngIf="submitted && password.errors" class="invalid-feedback">
              <span *ngIf="password.errors.required">Please enter a Password</span>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
